:root {
  --main-color: #bbe9bd;
  --light: #aeccc6;
  --medium: #9ba6a5;
  --dark: #757a79;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color);
  text-align: center;
}

#frame {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--dark);
  border-radius: 30px;
  box-shadow: 12px 12px 2px 1px rgba(113, 113, 246, 0.2);

  height: 355px;
  width: 330px;

  margin-bottom: 30px;
  margin-top: 90px;
}

div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.calculator {
  width: 400px;
  height: 300px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px 150px;

  align-items: center;
  justify-content: center;
}

#screen {
  grid-row: 1;
}

#buttons {
  grid-row: 2;
}
