:root {
  --main-color: #bbe9bd;
  --light: #aeccc6;
  --medium: #9ba6a5;
  --dark: #464848;
  --bold: #3c3e3d;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color);
  text-align: center;
}

#frame {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 80px 150px;
  align-items: center;
  justify-content: center;

  background-color: var(--bold);
  border: 1px solid var(--dark);
  border-radius: 30px;
  box-shadow: 10px 10px 7px 1px rgba(137, 139, 138, 0.7);

  height: 355px;
  width: 330px;

  margin-bottom: 30px;
  margin-top: 90px;
}

div {
  border: 1px solid black;
}

#screen {
  grid-row: 1;

  height: 85%;
  margin-top: 40px;

  border: 1px solid var(--bold);
  border-radius: 10px;
  background-color: var(--dark);

  box-shadow: inset 3px 2px 3px 1px rgba(46, 46, 46, 0.7);
}

.calculator {
  width: 400px;
  height: 300px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px 150px;

  align-items: center;
  justify-content: center;
}

#buttons {
  grid-row: 2;
}
